/*This style sheet was assembled by the lovely Ashley Mikkola as a gift to Lauren "the ledgend" Reed*/

/*Home Page*/
/*Banner*/
.company-name {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1em;
  color: #2D775F;
}

h1 {
  font-weight: bold;
  font-size: 6vw;
}

body {
  background-color: #FFDAA0;
}

/*NAVBAR*/

#navigation {
  height: 3.5vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  overflow: hidden;
}

nav {
  width: 45%;
  align-items: flex-start;
}
.navbar {
  display: flex;
  margin: 0.50em;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  color: white;
}

.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  color: white;
  text-decoration: none;
  display: inline;
  margin: 0.5%;
  padding: 0.5%;
  width: 12em;
}

.nav-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 1vw;
}

li a:active {
  background-color: #D66546;
  color: white;
}

@media screen and (max-width: 700px) {
  .navbar {
    display: block;
  }
  nav {
    width: 100%;
  }
  .nav-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    font-size: 3.5vw;
    padding: 0;
    margin: 0;
  }
  #navigation {
    height: 24vw;
  }
}

/*THREE CIRCLES SERVICE OFFERINGS*/

#service-offerings {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
  color: #2D775F;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #5C6084;
  text-align: center;
  font-size: 2vw;
  margin: 0vw 0.5vw 0.5vw 0.5vw;
}

.service {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap; nowrap;
  align-items; center;
  align-content; center;
}
.img-circle {
  border: solid;
  border-color: black;
  border-width: 2%;
  border-radius: 50%;
  float: none;
  width: 100%;
}

.button {
  display: flex;
  align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: #D66546;
  border: none;
  border-radius: 4px;
  padding: 1vw;
  margin: 1vw;
  margin-bottom: 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
}

button:hover {
background-color: #2D775F;
text-decoration: none;
}

.button-link {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 700px) {
#service-offerings {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.service {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap; nowrap;
    align-items; center;
    align-content; center;
}
h2 {
  font-size: 4.5vw;
}
h3 {
  font-size: 3.5vw;
}
.button {
  font-size: 3vw;
}
}
/*Logo*/

#logo {
  border-style: solid;
  border-color: white;
}


/*DESCRIPTION SECTION*/


h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4.5vw;
  margin: 3%;
  width: 100%;
  text-align: center;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFDAA0;
  font-size: 3.5vw;
  margin: 2%;
  width: 100%;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: black;
  width: 100%;
  margin: 2%;
  padding: 3%;
  text-align: left;
}

#proofreading-description {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #2D775F;
  }


#proofreading-image {
  border-radius: 50%;
  float: none;
  width: 94%;
  height: 94%;
  margin: 3%;
  border: solid;
  border-color: white;
  border-width: 2%;
  border-radius: 50%;
}

.images {
  display: block;
  width: 40%;
  max-height: 100%;
  margin: 0;
}

.descriptions {
  display: block;
  width: 30%;
}

.copy {
  text-align: center;
}
#translation-description {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #5C6084;
  }

#translation-image {
  border-radius: 50%;
  float: none;
  width: 94%;
  height: 94%;
  margin: 3%;
  border: solid;
  border-color: white;
  border-width: 2%;
  border-radius: 50%;
}

#transcreation-description {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #D66546;
  }


#transcreation-image {
  border-radius: 50%;
  float: none;
  width: 94%;
  height: 94%;
  margin: 3%;
  border: solid;
  border-color: white;
  border-width: 2%;
  border-radius: 50%;
}

@media
screen and (max-width: 700px) {
  #proofreading-description {
    flex-direction: column;
  }
  #translation-description {
    flex-direction: column-reverse;
  }
  #transcreation-description {
    flex-direction: column;
  }
  .descriptions {
    width: 60%;
  }
  p {
    font-size: 3vw;
  }
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.footer-right {
  padding-right: 2%;
}


/*About Page*/

.Employee {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4.5vw;
  margin: 3%;
  width: 100%;
  text-align: center;
}

.Title {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFDAA0;
  font-size: 3.5vw;
  margin: 2%;
  width: 100%;
  text-align: center;
}

.images {
  display: block;
  width: 40%;
  max-height: 100%;
  margin: 0;
}

.Profiles {
  display: block;
  width: 50%;
  margin: 2%;
  padding: 3%;
}

.bio {
  text-align: center;
  display: block;
  width: 60%;
}

#Lauren-Reed {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #2D775F;
    padding: 10%;
  }


#Lauren {
  border-radius: 50%;
  float: none;
  width: 94%;
  height: 94%;
  margin: 3%;
  border: solid;
  border-color: white;
  border-width: 2%;
  border-radius: 50%;
}

#Roo-Reed {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background: #5C6084;
    padding: 10%
  }

#Roo {
  border-radius: 50%;
  float: none;
  width: 94%;
  height: 94%;
  margin: 3%;
  border: solid;
  border-color: white;
  border-width: 2%;
  border-radius: 50%;
}


@media
screen and (max-width: 700px) {
  #Lauren-Reed {
    flex-direction: column;
  }
  #Roo-Reed {
    flex-direction: column;
  }
  .Profiles {
    width: 60%;
  }
  .bio {
    font-size: 3vw;
  }
}

/*Contact Us*/

#prompt {
  text-align: center;
  width: 85%;
  color: #5C6084;
  padding: 0;
}
#contact-prompt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

input[type=text], select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }

#submit-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 2%;
  margin-bottom: 5vw;

}

  label {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type=submit] {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D66546;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2D775F;
}
