<nav id="navigation">
  <ul class="navbar" width="100%">
    <li class="nav-item"><a class="nav-link" href="index.html">WELCOME</a></li>
    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us</a></li>
    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/lauren-reed-85125b81/" target="_blank">LinkedIn</a></li>
  </ul>
</nav>